.header__container {
    box-sizing: border-box;
    padding: 1rem; 
    background-color: $primary-dark-color;
    color: $light-font-color;
    height: $header-height;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-img{
    background-color: $primary-light-color;
    border-radius: 50%;
    max-width: 60px;
}

.logo-mutual{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar{
    box-sizing: border-box;
    display: flex;
    justify-content:space-around;
    padding: 0.5rem;
    height: 4.5rem;
    width: 100%;
    align-items: center; 
}
.btn-toggle-menu{
    display: flex;
    flex-direction:column;
    max-width: 2.75rem;
    background-color: transparent;
}

.burger {
    display: none;
    flex-direction: column;
   cursor: pointer;
   background: none;
   border: none;
}


.burger .bar {
   display: block;
   height: 5px;
   width: 28px;
   background-color: #fff;
   margin: 0.25rem 0;
   transition: 0.4s;
} 
.burger-container{
    display: flex;
    align-items: center;
    border-bottom-left-radius: 0.5rem  ;
    gap: 3.75rem;
}

.ul-navbar{ 
    box-sizing: border-box;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    max-height: 19px;
    max-width: 426px;
}

.ul-navbar  li a:hover{
    background-color:$primary-color;
    border: none solid ;
    border-radius: 0.5rem;
    padding: 1rem;   
}

.bnt-nav{
   display: flex;
   gap: 1rem;
   flex-wrap: nowrap;

   
}
 .form-Header{
    display: flex;
    background-color: $primary-dark-color;
    border-radius: 1rem; 
    gap: 0.5rem;
    align-items: center;
    padding: 0 7px;
}

 .form-Header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
 }

 .form-H input[type="text"], input[type="password"], input[type="email"], input[type="number"]
  {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid $light-font-color;
    border-radius: 4px;
    background-color: $secondary-dark-color;
    color: $light-font-color;
}

 .A-nav{
   text-decoration: none;
   color: $light-font-color;
 }


@media (max-width: 1150px) {
    .header__container{
        height:$header-height-m-t ;
    }
    .logo-img{
    background-color: $primary-light-color;
    border-radius: 50%;
    max-width: 45px;
    max-height: 45px;
    }
    .burger {
        display: flex;
        background-color: #5b4234;
        border-radius: 5px;
        padding: 0.5rem 2rem;
        max-width: 50px;
        align-items: center;
    }
   
    .burger .bar{
        display:flex;
        height: 5px;
        width:40px;
        background-color: #fff;
        margin: 0.25rem 0;
        transition: 0.4s;
    }


   .burger-container{
    align-items: center;
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    max-width: 285px;
    height:400px;
    top: 60px;
    right:0;
    background-color: $secondary-color;
}
    .burger-container li:hover {
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        width: inherit;
        border-radius: 8px;
        
    }

    .burger-container.active{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 6rem;
        padding: 10px;
    }
    .ul-navbar{ 
        flex-direction: column;
        gap: 1rem;
        padding: 10px;
       
    }
     .ul-navbar  li a:hover{
    padding:0.5rem;   
 }
   
}

