.layout-container {
    width: $layout-width;
    background-color: $secondary-dark-color;
    min-height: calc(100vh - $header-height - $footer-height);
    margin-top: $header-height; 
    margin-bottom: $footer-height;

}
.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
   overflow: hidden; 
  position: relative;
  background-color: $secondary-dark-color;
}


.viewport {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: 400%; 
  animation: slideAnimation 12s infinite ease-in-out;
}

.slider-track img {
  width: 25%; /* 100 / 4 */
  object-fit: cover;
}

@keyframes slideAnimation {
  0%, 20%   { transform: translateX(0); }
  25%, 45%  { transform: translateX(-25%); }
  50%, 70%  { transform: translateX(-50%); }
  75%, 95%  { transform: translateX(-75%); }
  100%      { transform: translateX(0); }
}

.section-card {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
    padding: 1.25rem;
    background-color: $secondary-dark-color;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $primary-light-color;
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease; 
    cursor: pointer;
    overflow: hidden;
    max-width: 298px;

    &:hover {
        background-color: $secondary-color;
    }    
}

.card-description {
    margin-top: 0.6rem;
    color: $light-font-color;
     display: flex; 
    flex-direction: column;
    align-items: center;
}

.card img {
    max-width: 200px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card span {
    font-size: x-small;
    color: $light-font-color;
    text-align: center;
    margin-top: 0.5rem;
    max-width: 262px; 
    max-height: 24px;
    
}

.form-altas{
    
    border-radius: 0.5rem;    
    background-color: $primary-dark-color;
    margin: 3rem 14rem ;
    padding: 0.5rem;
    max-width: 1065px;   
    justify-self:center;

}
.Formhead{
    display: flex;
    background-color: $primary-dark-color;
    border-radius: 1rem; 
    gap: 1.5rem;
}
.Formhead img{
    position: relative;
    max-height: 630px;
    max-width: 540px;
    border-radius: 0.5rem;
}
.formingres{
    position:relative;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    padding: 0.25rem;
    padding-bottom: 0;
    gap: 1rem;

}
.formingres div{
    max-height: 3.3rem;
}
.formingres button{
    display: flex;
    align-self: center;
    margin-bottom: 1rem;
}
.category{
        display: flex;
        
}


.formIngres{

    border-radius: 0.5rem;    
    background-color: $primary-dark-color;
    margin: 3rem 14rem ;
    padding: 0.5rem;
    max-width: 1025px; 
    max-height: 470px; 
    justify-self:center;
}
.form-H{
    display: flex;
    background-color: $primary-dark-color;
    border-radius: 1rem; 
    gap: 1.5rem;
    align-items: start;
}
.form-H img{
    position: relative;
    max-height: 450px;
    max-width: 500px;
    border-radius: 8px;
}
.formIng{
    position:relative;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
    padding-bottom: 0;
    gap:1.25rem;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="checkbox"] {
    max-width: 85%;
    padding: 0.5rem;
    border: 1px solid $light-font-color;
    border-radius: 4px;
    background-color: $secondary-dark-color;
    color: $light-font-color;
}
.about{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    &__us {
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        background-color: $primary-light-color;
        border-radius: 0.5rem;
        color: $secondary-dark-color;
        max-width: 100%;
        max-height: 400px;
        margin-bottom: 1rem;
        img{
            border-radius: 8px;
        }
        p{  
          padding: 1rem;
          font-family: cursive;
          font-size: x-large; 
          align-self:  center; 
          border: 1px solid brown;
        }
    }
    &__stand-book {
        display: flex;
        justify-content: space-evenly;
        background-color: $primary-light-color;

        border-radius: 0.5rem;
        color: $secondary-dark-color;
        max-width: 100%;
        max-height: 400px;
        gap: 5rem;
        margin-bottom: 1rem;
        img{
            border-radius: 8px;
        }
        p{  
          padding: 1rem;
          font-family: cursive;
          font-size: x-large;
          align-self:  center;  
        }
    }
    &__stand-pay {
        display: flex;
        justify-content: space-evenly;
        background-color: $primary-light-color;
        border-radius: 0.5rem;
        color: $secondary-dark-color;
        max-width: 100%;
        max-height: 400px;
        gap: 5rem;
        margin-bottom: 1rem;
        img{
            border-radius: 8px;
        }
        p{  
          padding: 1rem;
          font-family: cursive;
          font-size: x-large; 
          align-self:  center; 
        }
    }
    &__learning-space {
        display: flex;
        justify-content: space-evenly;
        background-color: $primary-light-color;
        
        border-radius: 0.5rem;
        color: $secondary-dark-color;
        max-width: 100%;
        max-height: 400px;
        gap: 5rem;
        margin-bottom: 1rem;
        img{
            border-radius: 8px;
        }
        p{  
          padding: 1rem;
          font-family: cursive;
          font-size: x-large;
          align-self:  center;  
        }
    }
    &__team {
        display: flex;
        justify-content: space-evenly;
        background-color: $primary-light-color;
        
        border-radius: 0.5rem;
        color: $secondary-dark-color;
        max-width: 100%;
        max-height: 400px;
        gap: 5rem;
        margin-bottom: 1rem;
        img{
            border-radius: 8px;
        }
        p{  
          padding: 1rem;
          font-family: cursive;
          font-size: x-large; 
          align-self:  center; 
        }
    }
}


@media (max-width: 768px ) {

    .layout-container{
        margin-top: $header-height-m-t;
    }
    .img-a{ 
        display:none;
    }
   .formingres{
      max-width: 19.5rem;
      gap: 0.25rem;
    }
    .form-H{
        max-width: 300px;
        height: auto;
        justify-content: center;

    }
    .form-H input{
        max-width: 280px;
    }
    .form-H textarea{
        max-width: 280px;
    }
    input{
        font-size: 13px;
        max-width: 80%;
    }
 }


@media (max-width: 1440px) {
    
    .formingres{
    align-items:normal;
    }
}