.layout-container {
    width: $layout-width;
    background-color: $secondary-dark-color;
    min-height: calc(100vh - $header-height - $footer-height);
    margin-top: $header-height; 
    margin-bottom: $footer-height;

}
.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
   overflow: hidden; 
  position: relative;
  background-color: $secondary-dark-color;
}


.viewport {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: 400%; 
  animation: slideAnimation 12s infinite ease-in-out;
}

.slider-track img {
  width: 25%; /* 100 / 4 */
  object-fit: cover;
}

@keyframes slideAnimation {
  0%, 20%   { transform: translateX(0); }
  25%, 45%  { transform: translateX(-25%); }
  50%, 70%  { transform: translateX(-50%); }
  75%, 95%  { transform: translateX(-75%); }
  100%      { transform: translateX(0); }
}

.section-card {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    background-color: $secondary-dark-color;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $primary-light-color;
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease; 
    cursor: pointer;
    overflow: hidden;
    max-width: 298px;

    &:hover {
        background-color: $secondary-color;
    }    
}

.card-description {
    //display: none;
    margin-top: 10px;
    color: $light-font-color;
     display: flex; 
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 200px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.card span {
    font-size: x-small;
    color: $light-font-color;
    text-align: center;
    margin-top: 0.5rem;
    width: 262px; 
    height: 24px;
    
}

.form-altas{
    //height: 100%; 
    border-radius: 8px;    
    //border: 2px solid $light-font-color;
    background-color: $primary-dark-color;
    margin: 3rem 14rem ;
    padding: 0.5rem;
    width: 1065px;   
    justify-self:center;

}
.Formhead{
    display: flex;
    background-color: $primary-dark-color;
    border: 2px solid whitesmoke;
    border-radius: 1rem; 
    gap: 1.5rem;
}
.Formhead img{
    position: relative;
    height: 630px;
    width: 540px;
    border-radius: 8px;
}
.formingres{
    position:relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: start;
    justify-content: space-between;
    padding: 0.25rem;
    padding-bottom: 0;
    gap: 0.25rem;

}
.formingres button{
    display: flex;
    align-self: center;
    margin-bottom: 1rem;
}
.category{
        display: flex;
        
}


.formIngres{
    //height: 100%; 
    border-radius: 8px;    
    border: 2px solid $light-font-color;
    background-color: $primary-dark-color;
    margin: 3rem 14rem ;
    padding: 0.5rem;
    width: 1025px; 
    height: 470px; 
    justify-self:center;
}
.form-H{
    display: flex;
    background-color: $primary-dark-color;
    border-radius: 1rem; 
    gap: 1.5rem;
    align-items: start;
}
.form-H img{
    position: relative;
    height: 450px;
    width: 500px;
    border-radius: 8px;
}
.formIng{
    position:relative;
    width: 500px;
    //border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-around;
    padding: 0.25rem;
    padding-bottom: 0;
    gap:1.25rem;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="checkbox"] {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid $light-font-color;
    border-radius: 4px;
    background-color: $secondary-dark-color;
    color: $light-font-color;
}


@media (max-width: 768px ) {

    .layout-container{
        margin-top: $header-height-m-t;
    }
    
}