.layout-container {
    width: $layout-width;
    background-color: $secondary-dark-color;
    min-height: calc(100vh - $header-height - $footer-height);
    margin-top: $header-height; 
    margin-bottom: $footer-height;

}
.slider-container {
  width: 100%;
  overflow: hidden; 
  position: relative;
  border: 1px solid white;
}

.slider-track {
  display: flex; 
  width: 300%; 
  /* Utilisation de 'ease-in-out' pour plus de douceur */
  animation: slideAnimation 12s infinite ease-in-out; 
}

.slider-track img {
  width: 33.333%;
  //height: 532px;
  object-fit: cover; /* Évite de déformer vos images */
}

@keyframes slideAnimation {
  0%, 25% { transform: translateX(0); }
  33%, 58% { transform: translateX(-33.333%); } /* Correction du %% */
  66%, 91% { transform: translateX(-66.666%); }
  100% { transform: translateX(0); }
}


.section-card {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    background-color: $secondary-dark-color;
    border: 1px solid $primary-light-color;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $primary-light-color;
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease; 
    cursor: pointer;
    overflow: hidden;
    max-width: 298px;

    &:hover {
        background-color: $primary-color;
        
        // .card-description {
        //    // display: flex; 
        //     flex-direction: column;
        //     align-items: center;
        // }
    }
}

.card-description {
    //display: none;
    margin-top: 10px;
    color: $light-font-color;
     display: flex; 
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 200px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.card span {
    font-size: x-small;
    color: $light-font-color;
    text-align: center;
    margin-top: 0.5rem;
    width: 262px; 
    height: 24px;
    
}
