

.btn{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    &__primary {
        &-solid {
            background-color: $primary-color;
            color: $primary-light-color;
            &:hover{
                background-color:$secondary-dark-color ;
                color:$light-font-color ;
            }
        }
       };
    &__secondary {
        &-solid{
            background-color: $secondary-light-color;
            color: $dark-font-color;
             &:hover{
                background-color: $secondary-dark-color;
                color: $light-font-color;
            }
        }
    }
}
 .content__container .btn{
     display: flex;
    
}