$primary-color:#3e607a;
$primary-dark-color:#d80608;
$primary-light-color:#f8e18c;

$secondary-color:#5b4234;
$secondary-dark-color:#180e1c;
$secondary-light-color:#90c6d3;

$dark-font-color:#101320;
$light-font-color:#f8f6e7;

$header-height: 96px;
$header-height-m-t: 60px;
$footer-height: 122px;
$footer-width:100%;
$layout-width:100%;
// $gap: 1rem;
// $spacer-height-mobile: 154px;
// $spacer-height-tablet: 300px;
// $spacer-height-desktop: 668px;