*{
    box-sizing: border-box;
}


:root{
    font-size: 16px;
    color: $light-font-color;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
  background-color: $secondary-dark-color;
}
 
h1, h2, h3, h4, p, span, div {
   margin: 0;
}
